@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Oldenburg', cursive;
}

body{
  background-color: #1d1f20f5;
}



h1{
  text-align: center;
  position: relative;
  top: 90px;
  font-size: 70px;
  color: white;
}

.x{
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
}

.y{
  font-size: 31px;
  color: white;
  text-align: start;
  padding-left: 15px;
  padding-top: 10px;
}

.tdl{
  background-color: rgb(97, 89, 89);
  color: black;
  border: solid 4px #1d1f20;
  width: 500px;
  height: 350px;
  position: fixed;
  top: 50%;
  right: 10%;
  margin-top: -175px;
  margin-left: -50px;
  overflow: scroll;
  overflow-x: hidden;
}

.counter{
  text-align: center;
  background-color:#1d1f20;
  width: 500px;
  height: 350px;
  position: relative;
  top: 50%;
  left: 10%;
  margin-top: 195px;
  margin-left: -50px;
  border-radius: 5px;
}

.counter::after{
  content: '';
  position: absolute;
  top: calc(-1 * 5px);
  left: calc(-1 * 5px);
  height: calc(100% + 5px * 2);
  width: calc(100% + 5px * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * 5px);
  z-index:-1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

button{
  font-size: 25px;
  margin-left: 6px;
}

button:hover{
  background-color: rgb(204, 121, 121);
  font-weight: 600;
}

button:nth-child(3):hover{
  background-color: rgb(78, 131, 78);
}